<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kazhik.gambarumeter" >

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WearGambarumeter"
            android:label="@string/app_name"
            android:exported="true"
            android:allowEmbedded="true"
            android:taskAffinity=""
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="vnd.google.fitness.TRACK" />
                <data android:mimeType="vnd.google.fitness.activity/running" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="vnd.google.fitness.TRACK" />
                <data android:mimeType="vnd.google.fitness.activity/other" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="vnd.google.fitness.VIEW" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.heart_rate.bpm" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <service android:name=".main.monitor.Gyroscope" />
        <service android:name=".main.monitor.HeartRateMonitor" />
        <service android:name=".main.monitor.LocationMonitor" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


</manifest>
